:root {
  --mechanic-text: #333;
  --mechanic-background: white;
  --mechanic-dust-gray: #f3f1f2;
  --mechanic-black: #231f20;
  --mechanic-blue: #0f21c3;
  --mechanic-red: #f04b17;
  --mechanic-green: #21c30f;
  --mechanic-param-font: Menlo, "Courier New", monospace;
  --mechanic-error: #f04b17;
}
