@import "../variables.css";

.root {
}

.invalid {
}

.disabled {
}

.focus {
}

.mechanic-param {
  & > .label {
    display: block;

    margin-bottom: 0.5em;
    width: 100%;

    font-size: 0.75em;
    font-family: var(--mechanic-param-font);
  }

  & > .toggle {
    width: 100%;
    
    font-family: var(--mechanic-param-font);
  }

  &.invalid {
    & > button {
      border: 1px solid var(--mechanic-error);
    }

    & > .error {
      box-sizing: border-box;
      padding: 0.1em;

      background: var(--mechanic-error);
    }
  }
}
