.root {
}

.invalid {
}

.disabled {
}

.focus {
}

.mechanic {
  &.invalid {
    & > button {
      border: 1px solid var(--mechanic-error);
    }

    & > .error {
      background: var(--mechanic-error);
      box-sizing: border-box;
      padding: 0.1em;
    }
  }
}
