.root {
}

.button-container {
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  position: relative;
  & > button {
    box-sizing: border-box;
    width: 100%;
    height: 36px;
    padding: 0.5em 1em;
    -webkit-appearance: none;
    cursor: pointer;
    padding: 0.5em 1em;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    -webkit-appearance: none;
    background-color: white;
    border: 1px solid var(--mechanic-text);
  }
}

.swatch {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
}

.popover {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  padding-bottom: 30px;
  & > .chrome-picker {
    width: 100% !important;
    box-shadow: none !important;
    border: 1px solid var(--mechanic-text) !important;
    border-top: none !important;
    border-radius: 0 !important;
    box-sizing: border-box !important;
  }
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.mechanic {
  &.invalid {
    & .button-container button {
      border: 1px solid var(--mechanic-error);
    }

    & > .error {
      background: var(--mechanic-error);
      box-sizing: border-box;
      padding: 0.1em;
    }
  }
}
