@import "../variables.css";

.root {
}

.label {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 0.25em;
  font-size: var(--mechanic-label-font-size);
  font-family: inherit;
  width: 100%;
}

.disabled {
  opacity: 0.4;
}

.button-container {
  position: relative;
}

.button {
  z-index: 9;
  position: relative;
  min-width: 240px;
  width: 100%;
  border: 1px solid currentColor;
  color: currentColor;
  border-radius: var(--mechanic-param-height-half);
  padding: 0.6em 2em 0.5em 1em;
  height: var(--mechanic-param-height);
  line-height: 1;
  display: flex;
  align-items: center;
  background-color: var(--mechanic-background);
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

.focus .button.focus {
  outline: none;
  border: 2px solid currentColor;
  padding: calc(0.6em - 1px) calc(2em - 1px) calc(0.5em - 1px) calc(1em - 1px);
}

.swatch {
  margin-right: var(--mechanic-param-height-quart);
  border-radius: var(--mechanic-param-height-quart);
  width: var(--mechanic-param-height-half);
  height: var(--mechanic-param-height-half);
}
.value {
}

.picking .button {
  border-radius: var(--mechanic-param-height-half) var(--mechanic-param-height-half) 0 0;
}

.popover {
  position: absolute;
  z-index: 20;
  top: calc(2.5em - 2px);
  left: 0;

  padding-bottom: 30px;
  width: 100%;

  & > .chrome-picker {
    box-shadow: none !important;
    border-top: none !important;
    border-right: 1px solid currentColor !important;
    border-left: 1px solid currentColor !important;
    border-bottom: 1px solid currentColor !important;

    /* border-top: none !important; */
    border-radius: 0 0 var(--mechanic-param-height-half) var(--mechanic-param-height-half) !important;
    padding: 0.5em;
    overflow: hidden;
    box-sizing: border-box !important;
    width: 100% !important;
  }
}

.focus .popover .chrome-picker {
  border-right: 2px solid currentColor !important;
  border-left: 2px solid currentColor !important;
  border-bottom: 2px solid currentColor !important;
  padding: 0.5em calc(0.5em - 1px) calc(0.5em - 1px);
}

.suffix {
  pointer-events: none;
  position: absolute;
  z-index: 10;
  right: 2px;
  top: 2px;
  border-radius: var(--mechanic-param-height-half);
  text-align: right;
  background: var(--mechanic-param-background);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: calc(var(--mechanic-param-height) - 4px);
  padding: 0 var(--mechanic-param-height-quart);
}

.invalid .button-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--mechanic-param-height);
  z-index: 8;
  opacity: 0.15;
  background-color: currentColor;
  border-radius: var(--mechanic-param-height-half);
}

.invalid .error {
  padding: 0.2em 0.25em;
  font-size: var(--mechanic-label-font-size);
}
