@import "../variables.css";

.root {
}

.invalid {
}

.disabled {
}

.button-container {
  position: relative;
}

.button {
  min-width: 240px;
  height: 36px;
}

.swatch {
  position: absolute;
  left: 1em;
  top: 50%;

  display: inline-block;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;
}

.popover {
  position: absolute;
  z-index: 2;
  top: 36px;
  left: 0;

  padding-bottom: 30px;
  width: 100%;

  & > .chrome-picker {
    box-shadow: none !important;
    border: 1px solid var(--mechanic-text) !important;
    border-top: none !important;
    border-radius: 0 !important;
    box-sizing: border-box !important;
    width: 100% !important;
  }
}

.mechanic-param {
  & > .label {
    display: block;

    margin-bottom: 0.5em;
    width: 100%;

    font-size: 0.75em;
    font-family: var(--mechanic-param-font);
  }

  & .button {
    width: 100%;

    font-family: var(--mechanic-param-font);
  }

  &.invalid {
    & .button-container button {
      border: 1px solid var(--mechanic-error);
    }

    & > .error {
      box-sizing: border-box;
      padding: 0.1em;

      background: var(--mechanic-error);
    }
  }
}
