@import "../variables.css";

.root {
}

.number-input {
  margin: 0;
  border: 1px solid var(--mechanic-text);
  box-sizing: border-box;
  padding: 0.5em 1em;

  background-color: var(--mechanic-background);

  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;

  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.range-wrapper {
  display: flex;

  margin: 0;
  box-sizing: border-box;
  padding: 0.5em 0;

  background-color: var(--mechanic-background);
}

.range-label {
  flex: 0 0 90px;

  box-sizing: border-box;
  padding: 0 1em;

  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */
.range-input {
  flex: 1 1 auto;

  background: transparent; /* Otherwise white in Chrome */

  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */

  /* Special styling for WebKit/Blink */
  &::-webkit-slider-thumb {
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    border: 1px solid var(--mechanic-text);
    border-radius: 0;
    height: 36px;
    width: 8px;

    background: var(--mechanic-background);
    cursor: pointer;

    -webkit-appearance: none;
  }

  &:focus {
    outline: none; /* Removes the blue border. Should probably do some kind of focus styling for accessibility reasons though. */
  }

  &::-ms-track {
    /* Hides the slider so custom styles can be added */
    border-color: transparent;
    width: 100%;

    background: transparent;
    cursor: pointer;

    color: transparent;
  }

  /* All the same stuff for Firefox */
  &::-moz-range-thumb {
    border: 1px solid var(--mechanic-text);
    border-radius: 0;
    height: 36px;
    width: 8px;

    background: var(--mechanic-background);
    cursor: pointer;
  }

  /* All the same stuff for IE */
  &::-ms-thumb {
    border: 1px solid var(--mechanic-text);
    border-radius: 0;
    height: 36px;
    width: 8px;

    background: var(--mechanic-background);
    cursor: pointer;
  }

  &::-webkit-slider-runnable-track {
    border: 1px solid var(--mechanic-text);
    border-radius: 0;
    width: 100%;
    height: 1px;

    background: var(--mechanic-text);
    cursor: pointer;
  }

  &:focus::-webkit-slider-runnable-track {
    background: var(--mechanic-text);
  }

  &::-moz-range-track {
    border: 1px solid var(--mechanic-text);
    border-radius: 0;
    width: 100%;
    height: 1px;

    background: var(--mechanic-text);
    cursor: pointer;
  }

  &::-ms-track {
    border: 1px solid var(--mechanic-text);
    border-radius: 0;
    width: 100%;
    height: 1px;

    background: var(--mechanic-text);
    cursor: pointer;

    color: transparent;
  }
  &::-ms-fill-lower {
    border: 1px solid var(--mechanic-text);
    border-radius: 2.6px;

    background: var(--mechanic-text);
  }
  &:focus::-ms-fill-lower {
    background: var(--text);
  }
  &::-ms-fill-upper {
    border: 1px solid var(--mechanic-text);
    border-radius: 2.6px;

    background: var(--text);
  }
  &:focus::-ms-fill-upper {
    background: var(--mechanic-text);
  }
}

.invalid {
}

.disabled {
  & .number-input {
    border: 1px solid var(--mechanic-gray);
  }

  & .range-wrapper {
    color: var(--mechanic-gray);
  }

  & .range-input {
    &::-webkit-slider-thumb {
      border: 1px solid var(--mechanic-gray);
      cursor: default;
    }

    &::-ms-track {
      cursor: default;
    }

    &::-moz-range-thumb {
      border: 1px solid var(--mechanic-gray);
      cursor: default;
    }

    &::-ms-thumb {
      border: 1px solid var(--mechanic-gray);
      cursor: default;
    }

    &::-webkit-slider-runnable-track {
      border: 1px solid var(--mechanic-gray);
      background: var(--mechanic-gray);
      cursor: default;
    }

    &:focus::-webkit-slider-runnable-track {
      background: var(--mechanic-gray);
    }

    &::-moz-range-track {
      border: 1px solid var(--mechanic-gray);
      background: var(--mechanic-gray);
      cursor: default;
    }

    &::-ms-track {
      border: 1px solid var(--mechanic-gray);
      background: var(--mechanic-gray);
      cursor: default;
    }
    &::-ms-fill-lower {
      border: 1px solid var(--mechanic-gray);
      background: var(--mechanic-gray);
    }
    &:focus::-ms-fill-lower {
      background: var(--mechanic-gray);
    }
    &::-ms-fill-upper {
      border: 1px solid var(--mechanic-gray);
      background: var(--mechanic-gray);
    }
    &:focus::-ms-fill-upper {
      background: var(--mechanic-gray);
    }
  }
}

.focus {
}

.mechanic-param {
  & > .label {
    display: block;

    margin-bottom: 0.5em;
    width: 100%;

    font-size: 0.75em;
    font-family: var(--mechanic-param-font);
  }

  & > .number-input {
    width: 100%;

    font-family: var(--mechanic-param-font);
  }

  & .range-label {
    font-family: var(--mechanic-param-font);
  }

  &.invalid {
    & > input {
      border: 1px solid var(--mechanic-error);
    }

    & .range-wrapper .range-input {
      &::-webkit-slider-thumb {
        border: 1px solid var(--mechanic-error);
      }

      /* All the same stuff for Firefox */
      &::-moz-range-thumb {
        border: 1px solid var(--mechanic-error);
      }

      /* All the same stuff for IE */
      &::-ms-thumb {
        border: 1px solid var(--mechanic-error);
      }
    }

    & > .error {
      box-sizing: border-box;
      padding: 0.1em;

      background: var(--mechanic-error);
    }
  }
}
