@import "../variables.css";

.root {
}

.select-wrapper {
  position: relative;
  width: 100%;
}

/* Followed steps in this article to make cross-platform compatible: https://www.filamentgroup.com/lab/select-css.html */
.select {
  border: 1px solid currentColor;
  color: currentColor;
  border-radius: var(--mechanic-param-height-half);
  padding: 0.6em 2em 0.5em 1em;
  height: var(--mechanic-param-height);
  line-height: 1;
  background-color: var(--mechanic-background);
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.suffix {
  pointer-events: none;
  position: absolute;
  z-index: 10;
  right: 2px;
  top: 2px;
  border-radius: var(--mechanic-param-height-half);
  text-align: right;
  background: var(--mechanic-param-background);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: calc(var(--mechanic-param-height) - 4px);
  padding: 0 var(--mechanic-param-height-quart);
}

.disabled {
  opacity: 0.4;
}

.focus .select {
  outline: none;
  border: 2px solid currentColor;
  padding: calc(0.6em - 1px) calc(2em - 1px) calc(0.5em - 1px) calc(1em - 1px);
}

.label {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 0.25em;
  font-size: var(--mechanic-label-font-size);
  font-family: inherit;
  width: 100%;
}

.invalid .error {
  padding: 0.2em 0.25em;
  font-size: var(--mechanic-label-font-size);
}
