@import "../variables.css";

.root {
}

.input-wrapper {
  width: 100%;
  position: relative;
}

.input {
  position: relative;
  z-index: 9;
  border: 1px solid currentColor;
  color: currentColor;
  border-radius: var(--mechanic-param-height-half);
  padding: 0.6em 2em 0.5em 1em;
  height: var(--mechanic-param-height);
  line-height: 1;
  background-color: var(--mechanic-background);
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  width: 100%;
}

.suffix {
  pointer-events: none;
  position: absolute;
  z-index: 10;
  right: 2px;
  top: 2px;
  border-radius: var(--mechanic-param-height-half);
  text-align: right;
  background: var(--mechanic-param-background);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: calc(var(--mechanic-param-height) - 4px);
  padding: calc(var(--mechanic-param-height-quart) - 2px) var(--mechanic-param-height-quart)
    calc(var(--mechanic-param-height-quart) - 2px) var(--mechanic-param-height-quart);
}

.disabled {
  opacity: 0.4;
}

.focus .input {
  outline: none;
  border: 2px solid currentColor;
  padding: calc(0.6em - 1px) calc(2em - 1px) calc(0.5em - 1px) calc(1em - 1px);
}

.label {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 0.25em;
  font-size: var(--mechanic-label-font-size);
  font-family: inherit;
  width: 100%;
}

.invalid .button-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--mechanic-param-height);
  z-index: 8;
  opacity: 0.15;
  background-color: currentColor;
  border-radius: var(--mechanic-param-height-half);
}

.invalid .error {
  padding: 0.2em 0.25em;
  font-size: var(--mechanic-label-font-size);
}
