.root {
  box-sizing: border-box;
  & > input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    box-sizing: border-box;
    padding: 0.5em 1em;
    background-color: white;
    border: 1px solid var(--mechanic-text);
  }
}

.invalid {
}

.disabled {
}

.focus {
}

.mechanic {
  &.invalid {
    & > input {
      border: 1px solid var(--mechanic-error);
    }

    & > .error {
      background: var(--mechanic-error);
      box-sizing: border-box;
      padding: 0.1em;
    }
  }
}
