@import "../variables.css";

.root {
}

.input {
  border: 1px solid var(--mechanic-text);
  box-sizing: border-box;
  padding: 0.5em 1em;

  background-color: var(--mechanic-background);

  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

.invalid {
}

.disabled {
}

.focus {
}

.mechanic-param {
  & > .label {
    display: block;

    margin-bottom: 0.5em;
    width: 100%;

    font-size: 0.75em;
    font-family: var(--mechanic-param-font);
  }

  & > .input {
    width: 100%;
    
    font-family: var(--mechanic-param-font);
  }

  &.invalid {
    & > .input {
      border: 1px solid var(--mechanic-error);
    }

    & > .error {
      box-sizing: border-box;
      padding: 0.1em;

      background: var(--mechanic-error);
    }
  }
}
