@font-face {
  font-family: "Object Sans";
  src: url("../src/fonts/PP Object Sans/PPObjectSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Object Sans";
  src: url("../src/fonts/PP Object Sans/PPObjectSans-Slanted.otf") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "Object Sans";
  src: url("../src/fonts/PP Object Sans/PPObjectSans-Heavy.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Object Sans";
  src: url("../src/fonts/PP Object Sans/PPObjectSans-HeavySlanted.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

.root {
  font-family: "Object Sans", Helvetica, Arial, Sans-Serif;
  color: var(--mechanic-red);
}

.simpleBlock {
  width: 300px;
  display: inline-block;
  vertical-align: text-top;
  margin: 1em;
}

.pairBlock {
  width: 600px;
  display: inline-block;
  margin: 1em;
}
