.root {
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  flex-grow: 1;
  font-weight: bolder;
  font-size: 1.6em;
  font-family: Menlo, "Courier New", monospace;
}
