@import "../variables.css";

.status {
    min-width: 120px;
}

.grow {
    flex-grow: 1;
}

.grow > *{
    width: 100%;
}

.text input{
    padding: 0.5em 1em;
	background-color: white;
    border: 1px solid var(--text);
}

.number input{
    padding: 0.5em 1em;
	background-color: white;
    border: 1px solid var(--text);
}

.select select{
    padding: 0.5em 1em;
	background-color: white;
    border: 1px solid var(--text);
}
