:root {
  --mechanic-text: #333;
  --mechanic-background: transparent;
  --mechanic-dust-gray: #f3f1f2;
  --mechanic-gray: #aaa;
  --mechanic-disabled: #545454;
  --mechanic-black: #231f20;
  --mechanic-blue: #002ebb;
  --mechanic-light-blue: #f4f7fe;
  --mechanic-red: #e94225;
  --mechanic-light-red: #fdd7d1;
  --mechanic-green: #21c30f;
  --mechanic-input-font-size: 1em;
  --mechanic-label-font-size: 0.75em;
  --mechanic-input-font: "Object Sans", Helvetica, sans-serif;
  --mechanic-error: #f04b17;
  --mechanic-input-height: 2.5em;
  --mechanic-input-height-half: 1.25em;
  --mechanic-input-height-quart: 0.75em;
  --mechanic-input-height-eighth: 0.375em;
}
