@import "../variables.css";

.root {
  font-family: inherit;
  font-size: inherit;
  &:not([disabled]) {
    cursor: pointer;
  }

  &:active:not([disabled]) {
    transform: translateY(1px);
  }
}

.root.primary {
  background-color: currentColor;
  & span {
    color: white;
  }
}
