@import "../variables.css";

.root {
  display: flex;
  height: 100%;
}

.main {
  padding-left: 25px;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.iframe {
  flex-grow: 1;
  border: none;
}

.aside {
  padding-left: 25px;
  flex: 0 0 300px;
  border-right: 1px solid var(--dust-gray);
  height: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.section {
  padding-right: 25px;
}

.sep {
  height: 1em;
  flex-shrink: 0;
}

.line {
  margin-right: 25px;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--dust-gray);
}

.row {
  width: 100%;
  display: flex;
}

.grow {
  flex-grow: 1;
}

.params-wrapper {
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    z-index: 100;
    pointer-events: none;
    left: 0;
    right: 0;
  }
  &:before {
    top: 0;
    height: 10px;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), white);
  }
  &:after {
    bottom: 0;
    height: 30px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
  }
}

.params {
  padding-right: 25px;
  height: calc(100vh - 247px);
  overflow: auto;
  & > .param:first-child {
    padding-top: 10px;
  }
  & > .param:last-child {
    padding-bottom: 5px;
  }
}

.param {
  margin-bottom: 1em;
  font-family: Menlo, "Courier New", monospace;
}

.paramlabel {
  margin-bottom: 0.5em;
  font-size: 0.75em;
}

.strong {
  font-weight: bold;
}

.blue-highlight {
  background-color: var(--blue);
  color: white;
}
