.root {
  display: flex;
}

.root aside {
  padding-right: 25px;
  flex: 0 0 300px;
  border-right: 1px solid var(--dust-gray);
  min-height: 100vh;
}

.root aside label span {
  padding-right: 10px;
}

.root main {
  padding-left: 25px;
  flex: 1;
  min-height: 100vh;
}

.iframe {
  border: none;
  width: 100%;
  height: 100%;
}
