.root {
  display: flex;
}

.root aside {
  padding: 0 25px;
  flex: 0 0 300px;
  border-right: 1px solid var(--dust-gray);
  min-height: 100vh;
  display: flex;
	flex-direction: column;
	user-select: none;
}

.root aside .row span {
  font-weight: bold;
}

.root aside label span {
  padding-right: 10px;
}

.grow {
  flex-grow: 1;
}

.grow > *{
  width: 100%;
}

.sep {
  height: 15px;
}

.line {
  /* padding-bottom: 14px; */
  margin-bottom: 15px;
  border-bottom: 1px solid var(--dust-gray);
}

.row {
  width: 100%;
	display: flex;
	justify-content: space-between;
}

.param {
  margin-bottom: 1em;
}

.param span{
  margin-bottom: 0.5em;
}

.root main {
  padding-left: 25px;
  flex: 1;
  min-height: 100vh;
}

.iframe {
  border: none;
  width: 100%;
  height: 100%;
}