@import "../../variables.css";

.root {
  font-family: inherit;
  font-size: inherit;
  line-height: 1em;
  font-weight: inherit;
  position: relative;
  display: block;
  -webkit-appearance: none;
  cursor: pointer;
  padding: 0.5em 1em;
  margin: 0;
  background-color: white;
  border: 1px solid var(--text);
  &:active {
    background-color: var(--blue);
    color: white;
  }
}
