.root {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--mechanic-dust-gray);
  height: 100%;
  padding-left: 30px;
  user-select: none;
}

.inputs {
  flex-grow: 1;
  overflow: auto;
  padding-right: 30px;

  & > .input:first-child {
    padding-top: 10px;
  }
  & > .input:last-child {
    padding-bottom: 5px;
  }
}

.input {
  margin-bottom: 1em;
}

.section {
  padding-right: 30px;
}

.sep {
  flex-shrink: 0;
  height: 1em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.noWrapRow {
  flex-wrap: nowrap;
}

.withUndo {
  position: relative;
}

.undo,
.redo {
  width: var(--mechanic-input-height);
  position: absolute;
  z-index: 10;
  border: none;
  height: var(--mechanic-input-height);
}

.undo {
  left: 0;

  border-radius: var(--mechanic-input-height-half) 0 0 var(--mechanic-input-height-half);
}

.redo {
  right: 0;
  border-radius: 0 var(--mechanic-input-height-half) var(--mechanic-input-height-half) 0;
}

.grow {
  flex-grow: 1;
}

.edge {
  position: relative;
  height: 0;
  z-index: 100;
  left: 0;
  right: 0;
  pointer-events: none;
  border-bottom: 1px solid var(--mechanic-dust-gray);
  &:before {
    content: "";
    height: 10px;
    position: absolute;
    width: 100%;
    height: 10px;
  }
}

.edge.top:before {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), white);
  top: 0;
}
.edge.bottom:before {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
  bottom: 0;
}
.error {
  padding: 0.2em 0.25em;
  font-size: 0.75em;
}
.strong {
  font-weight: bold;
}
