.root {
  display: flex;

  height: 100%;
}

.aside {
  flex: 0 0 300px;

  display: flex;
  flex-direction: column;

  border-right: 1px solid var(--mechanic-dust-gray);
  height: 100%;
  padding-left: 30px;

  user-select: none;
}

.main {
  display: flex;
  flex-direction: column;

  flex: 1;
  height: 100%;
  padding-left: 30px;
}

.iframe {
  flex-grow: 1;

  border: none;
}

.section {
  padding-right: 30px;
}

.sep {
  flex-shrink: 0;

  height: 1em;
}

.line {
  margin-right: 30px;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--mechanic-dust-gray);
}

.row {
  display: flex;

  width: 100%;
}

.grow {
  flex-grow: 1;
}

.params-wrapper {
  position: relative;

  &:before,
  &:after {
    content: "";

    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;

    pointer-events: none;
  }
  &:before {
    top: 0;

    height: 10px;

    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), white);
  }
  &:after {
    bottom: 0;

    height: 30px;

    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
  }
}

.params {
  overflow: auto;

  height: calc(100vh - 306px);
  padding-right: 30px;

  & > .param:first-child {
    padding-top: 10px;
  }
  & > .param:last-child {
    padding-bottom: 5px;
  }
}

.param {
  margin-bottom: 1em;
}

.strong {
  font-weight: bold;
}

.blue-highlight {
  background-color: var(--mechanic-blue);

  color: white;
}
