*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;

  font-size: 14px;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--mechanic-text);
}
