@import "../variables.css";

.root {
  position: relative;

  margin: 0;
  border: 1px solid var(--mechanic-text);
  box-sizing: border-box;
  padding: 0.5em 1em;

  background-color: var(--mechanic-background);

  font-size: inherit;
  line-height: 1em;
  font-family: inherit;
  font-weight: inherit;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  &:not([disabled]) {
    cursor: pointer;
  }

  &:active:not([disabled]) {
    background-color: var(--mechanic-blue);

    color: var(--mechanic-background);
  }
}

.invalid {
}

.disabled {
  border: 1px solid var(--mechanic-gray);
  color: var(--mechanic-disabled);
}

.focus {
}
