@import "../variables.css";

.root {
  position: relative;
  border: 1px solid currentColor;
  color: currentColor;
  border-radius: var(--mechanic-param-height-half);
  padding: 0.2em 1em 0 2em;
  display: flex;
  align-items: center;

  width: 100%;
  height: var(--mechanic-param-height);
  line-height: 1;
  background-color: var(--mechanic-background);
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  &:active:not([disabled]) {
    transform: translate(0, 1px);
  }

  box-sizing: border-box;
  & *,
  & *:before,
  & *:after {
    box-sizing: inherit;
  }
}

.status {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1em;
  width: var(--mechanic-param-height-quart);
  height: var(--mechanic-param-height-quart);
  border-radius: var(--mechanic-param-height-eighth);
  border: 1px solid currentColor;
  &.on {
    background: currentColor;
  }
}

.disabled {
  opacity: 0.4;
}

.root.focus {
  outline: none;
  border: 2px solid currentColor;
  padding: 0.2em calc(1em - 1px) 0 calc(2em - 1px);
}

.label {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 0.25em;
  font-size: var(--mechanic-label-font-size);
  font-family: inherit;
  width: 100%;
}
