@import "../variables.css";

.root {
  position: relative;

  margin: 0;
  border: 1px solid var(--mechanic-text);
  box-sizing: border-box;
  min-width: 120px;
  padding: 0.5em 1em;

  background-color: var(--mechanic-background);

  font-size: inherit;
  line-height: 1em;
  font-family: inherit;
  font-weight: inherit;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  &:not([disabled]) {
    cursor: pointer;
  }

  &:active:not([disabled]) {
    background-color: var(--mechanic-blue);

    color: var(--mechanic-background);
  }
}

.status {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--mechanic-red);
  &.on {
    background: var(--mechanic-green);
  }
}

.invalid {
}

.disabled {
  border: 1px solid var(--mechanic-gray);
}

.focus {
}

.label {
}
